@import "tailwindcss";

@font-face {
  font-family: "SharpSans_Bold";
  src: url("/fonts/SharpSans-Bold.woff2") format("woff2");  
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SharpSans_Medium";
  src: url("/fonts/SharpSans-Medium.woff2") format("woff2");  
  font-weight: 500;
  font-style: normal;
}


body {
  display: flex;
  flex-direction: column;
  font-family: "SharpSans_Medium", sans-serif;
}

main{
  display: flex;
  justify-content: center;
}

section{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

:root {
  --background: #FCFBF7;
  --foreground: #252522;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SharpSans_Medium", sans-serif;
}

h1{
  font-family: "SharpSans_Bold" , sans-serif;
  font-size: 48px;
}

h2{
  font-family: "SharpSans_Bold" , sans-serif;
  font-size: 36px;
}

h4{
  font-family: "SharpSans_Bold" , sans-serif;
  font-size: 15px
}

h5{
  font-family: "SharpSans_Medium" , sans-serif;
  font-size: 15px
}

p{
 
  font-size: 15px;
}

li{
    font-family: "SharpSans_Bold" , sans-serif;
    font-size: 14px

}

@media (min-width: 1024px) {
  section {
      max-width: 1000px;
      margin-bottom: 56px;
  }
}